body {
    font-family: helvetica;
    background-image: url("Punto 3/Recursos/fondo.jpg");
    font-size: 100%;
}

div {
    display: block;
}

fieldset {
    border: 2px solid #053f4d;
}

#izquierda {
    float: left;
}

img {
    display: block;
    margin: auto;
}

#imagen {
    text-align: center;
}

.formacion {
    float: left;
    width: 37%;
    margin-left: 0.5%;
}